@page
@model forum_app.Controllers.IndexModel
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager;

@{
    ViewData["Title"] = "Forum App";
}

@if (SignInManager.IsSignedIn(User)) {
    <p>
        <a asp-page="AddTopic">Create New Topic</a>
    </p>
}

@if (Model.TopicList.Count > 0) {
    <div class="posts">
        <ul>
            @foreach (var item in Model.TopicList) {
                <li>
                    <div class="card">
                        <a asp-page="/ViewTopic" asp-route-id="@item.Id" class="card-header d-block text-decoration-none">
                            <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                        </a>

                        <div class="card-body">
                            <p>
                                <strong>Author: </strong>

                                @Html.DisplayFor(modelItem => item.AuthorName)

                                -

                                <span>@Html.DisplayFor(modelItem => item.Date)</span>
                            </p>
                        </div>

                        @if (SignInManager.IsSignedIn(User) && @Model.userId == item.AuthorId || User.IsInRole("Admin")) {
                            <div class="card-footer">
                                <a asp-page="/EditTopic" asp-route-id="@item.Id" class="btn btn-success">Edit topic</a>

                                <a asp-page="/DeleteTopic" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                            </div>
                        }
                    </div>
                </li>
            }
        </ul>
    </div>
}